.avatarContainer {
    width: 80%;
    height: 80px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: center;
    margin-bottom: 24px;
}
.avatarContainer::-webkit-scrollbar {
    width: 8px;
    background: #373738;

}
.avatarContainer::-webkit-scrollbar-thumb{
    width: 8px;
    background: #fade20;

}
.avatarContainer>div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.avatarContainer label {
    padding-right: 0px;
}
.avatarContainer input[type="radio"] {
    display: none;
}
input[type="radio"]:checked + .avatar {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    /*border: 1px solid #fff;*/
    box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.9);
}
.avatar{
    width: 70px;
    height: 70px;
    /*margin: 10px auto 30px;*/
    border-radius: 100%;
    background-size: cover;
    box-sizing: border-box;
    margin-top: 5px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input[value="0"]+.avatar{
    background-image: url("../img-misaki/avatars/0.png");
}
input[value="1"]+.avatar{
    background-image: url("../img-misaki/avatars/1.png");
}
input[value="2"]+.avatar{
    background-image: url("../img-misaki/avatars/2.png");
}
input[value="3"]+.avatar{
    background-image: url("../img-misaki/avatars/3.png");
}
input[value="4"]+.avatar{
    background-image: url("../img-misaki/avatars/4.png");
}
input[value="5"]+.avatar{
    background-image: url("../img-misaki/avatars/5.png");
}


/************Extra small devices only*********/

@media (max-width:767px) {
    .avatarContainer {
        width: 100%;
        height: 50px;
        margin-left: -10%;
    }
}
